# To use this config file, call the program with "./main --config /path/to/config/file.config"
#
# # lines are comment lines and will be ignored.



####################################################################################################
#-------------------------------------------- General ---------------------------------------------#
####################################################################################################

### Path to location of the main program.
### Command line option "-mp /path/to/folder/"

mainPath = /path/to/folder



####################################################################################################
#--------------------------------------------- Flags ----------------------------------------------#
####################################################################################################

### Toggles output of most information to the console.
### Command line option: "-co".

# consoleOutput


### Toggles printing of help to console.
### Command line option: "-h".

# help


### Toggles measuring of run time.
### Command line option: "-time".

# measureTime



####################################################################################################
#----------------------------------------- Input / Output -----------------------------------------#
####################################################################################################

### Input filepath.
### Command line option: "-i /path/to/file".
### default: input = ./molecule/charges_distribution_36

# input = ./molecule/charges_distribution_36
# input = ./molecule/charges_distribution_1054
# input = ./molecule/atom_types_1054


### Output filepath.
### Command line option: "-o /path/to/file".
### default: output = ./energy_min.dat

# output = ./energy_min.dat


### MD / LAMMPS files output folder.
### Command line option: "-mdo /path/to/folder/".
### default: mdoutput = ./md/

# mdoutput = ./md/



####################################################################################################
#---------------------------------- General molecule parameters -----------------------------------#
####################################################################################################

### Prints atom information.
### Command line option: "-pai".

# printAtomInfo


### Prints molecule information.
### Command line option: "-pmi".

# printMoleculeInfo


### Sets diameter of atoms.
### Command line option: "-dia value".
### default: 1.12

# diameter = 1.12


### Sets interatomic distance.
### Command line option: "-d value".
### 0.255 for D-mimetic model (default)
### 0.285 else

# dist = 0.285


### Sets the number of interacting molecule layers.
### Command line option: "-l number".
### 2 for D-mimetic model (default)
### 5 for our interpretation of Hodge-Petruska model

# layers = 5



####################################################################################################
#---------------------------------------- Original output -----------------------------------------#
####################################################################################################

### Toggles this program part.
### Command line option "-oo".

# originalOutput


### Toggles hash filenames.
### Command line option: "-c".

# chargehash


### Toggles csv format.
### Command line option "-csv".

# CSV


### Toggles xyz files.
### Command line option: "-x".

# xyz


### Sets LJ-potential strength stepsize.
### Command line option: "-sslj value".
### default: ljstepssize = 0.01

# ljstepssize = 0.01


### Sets LJ-potential strength steps.
### Command line option: "-slj number".
### default: ljsteps = 50

# ljsteps = 50

### Sets LJ-potential minimum strength.
### Command line option: "-mlj value".
### default: ljmin = 0.01

# ljmin = 0.01


### Sets the LJ-potential cutoff distance.
### Command line option: "-clj value".
### 2.0 for D-mimetic model (default)
### at least 4.0 for our interpretation of Hodge-Petruska model

# ljcut = 5.0


### Sets CD-potential strength stepsize.
### Command line option: "-sscd value".
### default: cdstepssize = 10.0

# cdstepssize = 10.0


### Sets CD-potential strength steps.
### Command line option: "-scd number".
### default: cdsteps = 20

# cdsteps = 20


### Sets CD-potential minimum strength.
### Command line option: "-mcd value".
### default: cdmin = 10.0

# cdmin = 10.0


### Sets the CD-potential cutoff distance.
### Command line option: "-ccd value".
### 2.0 for D-mimetic model (default)
### at least 4.0 for our interpretation of Hodge-Petruska model

# cdcut = 5.0



####################################################################################################
#----------------------------------------- MD parameters ------------------------------------------#
####################################################################################################

### Toggles this program part.
### Command line option "-md".

# MD


### Path to LAMMPS installation of lmp_mpi.
### Command line option "-md_mpid path/to/lmp_mpi".
### default: ~/Scratch/lammps-29Oct20/src/lmp_mpi

# MD_lmp_mpi = ~/your/path/on/cluster/lmp_mpi


### Generates bash scripts.
### Command line option: "-md_s".

# MD_script


### Generates topology file.
### Command line option: "-md_t".

# MD_topology


### Generates LAMMPS input script.
### Command line option: "-md_li".

# MD_LAMMPS_input


### Sets the walltime.
### Command line option: "-md_wt number".
### default: MD_walltime = 24

# MD_walltime = 24


### Sets the number of cores.
### Command line option: "-md_c number".
### default: MD_c = 1

# MD_c = 1


### Sets the number of molecules.
### Command line option: "-md_N number".
### default: MD_N = 5

# MD_N = 5


### Toggles random orientation of molecules.
### Command line option: "-md_ran".

# MD_random


### Sets orientation angles of molecules.
### Command line options: "-md_phi value", "-md_the value".
### default: 0.0, 0.3 Pi

# MD_phi = 0.0
# MD_theta = 0.94247779607

### Toggles rigid molecules.
### Command line option: "-md_rigid".

# MD_rigid


### Controls the angle rigidity coefficient.
### Command line options: "-md_kas value", "-md_kai value", "-md_kae value".
### default: 50.0, 50.0, 50.0

# MD_kAngle_start = 50.0
# MD_kAngle_inc = 50.0
# MD_kAngle_end = 50.0


### Controls the dielectric constant.
### Command line option: "-md_ds value", "-md_di value", "-md_de value".
### default: 10.0, 10.0, 100.0

# MD_dielectric_start = 10.0
# MD_dielectric_inc = 10.0
# MD_dielectric_end = 100.0


### Sets the CD-cutoff.
### Command line option: "-md_cdc value".
### default: 5.0

# MD_CDcutoff = 5.0


### Controls the epsilon constant.
### Command line option: "-md_es value", "-md_ei value", "-md_ee value".
### default: 0.01, default: 0.01, default: 0.50

MD_LJepsilon_start = 0.01
MD_LJepsilon_inc = 0.01
MD_LJepsilon_end = 0.50


### Sets the LJ-cutoff.
### Command line option: "-md_ljc value".
### default: 5.0

# MD_LJcutoff = 5.0


### Sets the timestep.
### Command line option: "-md_ts value".
### default: 0.002

# MD_timestep = 0.002


### Sets the runtime.
### Command line option: "-md_rt number".
### default: 6000001

# MD_runtime = 600001



####################################################################################################
#----------------------------------------- Experimental -------------------------------------------#
####################################################################################################

### Toggles developmental part of the program.
### Command line option "-dev"

# development


