# To use this config file, call the program with "./main --config /path/to/config/file.config"
#
# The config file is divided in various logical sections.
#
# The syntax is: "variable = value" for string, double, and integers.
# Bools are activated by uncommenting them: "# variable" -> "variable".
#
# # lines are comment lines and will be ignored.
#
# Command line options are given in comments.



####################################################################################################
#--------------------------------------------- Flags ----------------------------------------------#
####################################################################################################

# Flag to activate output of Joel's files with unique hash filename. Command line option: "-c"

# chargehash


# Flag to activate output of Joel's xyz files. Command line option: "-x"

# xyz


# Flag to output help instructions (not working currently). Command line option: "-h"

# help


# Flags to either read input collagen molecule configuration as file containing charge information
# or as file containing type of amino acid information.
# If both flags are set, readTypes is preferred.

readCharges
#readTypes


# Flag to print atom information of the form "ID Type Charge" to console.
# Command line option: "-pai".

#printAtomInfo


# Flag to print molecule information to console. Command line option: "-moli".

printMoleculeInfo


# Flag to activate calculation and output of Anne's original output files.
# Command line option "-anneo".

#annesOutput


# Flag to run developmental part of the program. Command line option "-dev".

development


# Flag to measure and output the run time of the program to the console.
# Command line option: "-time".

measureTime


####################################################################################################
#----------------------------------------- Input / Output -----------------------------------------#
####################################################################################################

# Input filepath for the collagen molecule configuration. Command line option: "-i filepath".
# THIS INPUT OPTION IS DEPRECATED. USE chargesinput OR typesinput INSTEAD AND CONTROL VIA
# readCharges OR readTypes UNDER Flags.
# default: ./charge_distribution

# input = ./molecule/others/testdistri


# Input filepath for the collagen molecule configuration using a file containing the charges of
# each single atom in the molecule. Command line option "-ci filepath".
# ./molecule/charges_distribution_36 for Anne's D-mimetic collagen (default)
# ./molecule/charges_distribution_1054 for native collagen

#chargesinput = ./molecule/charges_distribution_36
chargesinput = ./molecule/others/testdistri


# Input filepath for the collagen molecule configuration using a file containing the types of
# each single atom in the molecule. Command line option "-ti filepath".
# ./molecule/atom_types_1054 for native collagen strand A (default)

#typesinput = ./molecule/atom_types_1054


# Output filepath for the minimized energy configuration file. Command line option: "-o filepath".
# default: ./energy_min.dat

output = ./data/output.dat


# Output folder for LAMMPS MD simulation files. Command line option: "-mdo folderpath".
# default: ./md/

mdoutput = ./md/pm_sweep/
#mdoutput = ./md/single_test/


####################################################################################################
#--------------------------------------- Spatial parameters ---------------------------------------#
####################################################################################################

# Controls the number of interacting collagen molecule layers. Command line option: "-l number".
# 2 for Anne's D-mimetic model (default)
# 5 for our interpretation of Hodge-Petruska model

layers = 5


# Controls the diameter of individual atoms in the molecule. Command line option: "-dia value".
# default: 1.12

diameter = 1.12


# Controls the interatomic distance within the collagen molecule. Command line option: "-d value".
# 0.255 for Anne's D-mimetic model (default)
# 0.285 for our interpretation of Hodge-Petruska model

dist = 0.285



####################################################################################################
#------------------------------------------ LJ potential ------------------------------------------#
####################################################################################################

# The strengths of the LJ-potentials are given by the values:
# ljmin + ljstepssize * ljstep,
# where ljstep runs from 0 to ljsteps.

# Controls the number of steps for the LJ-potential. Command line option: "-slj number".
# default: 50

ljsteps = 50


# Controls the stepsize for the LJ-potential. Command line option: "-sslj value".
# default: 0.01

ljstepssize = 0.01


# Controls the min value for the LJ-potential. Command line option: "-mlj value".
# default: 0.01

ljmin = 0.01


# Controls the cutoff distance for the LJ-potential. Command line option: "-clj value".
# 2.0 for Anne's D-mimetic model (default)
# at least 4.0 for our interpretation of Hodge-Petruska model

ljcut = 5.0



####################################################################################################
#------------------------------------------ CD potential ------------------------------------------#
####################################################################################################

# The strengths of the CD-potentials are given by the values:
# 1 / (cdmin + cdstepssize * cdstep),
# where cdstep runs from 0 to cdsteps.

# Controls the number of steps for the CD-potential. Command line option: "-scd number".
# default: 20

cdsteps = 20


# Controls the stepsize for the CD-potential. Command line option: "-sscd value".
# default: 10.0

cdstepssize = 10.0


# Controls the min value for the CD-potential. Command line option: "-mcd value".
# default: 10.0

cdmin = 10.0


# Controls the cutoff distance for the CD-potential. Command line option: "-ccd value".
# 2.0 for Anne's D-mimetic model (default)
# at least 4.0 for our interpretation of Hodge-Petruska model

cdcut = 5.0



####################################################################################################
#----------------------------------------- MD parameters ------------------------------------------#
####################################################################################################

# To run many MD simulations, run the program with option "-md_s -md_t" once. Then manually adjust
# the parameters in the newly created scripts "./createFiles.sh" and "./run.sh", which are located
# in the folder given by "mdoutput". Once adjusted, run the "./createFiles.sh" to create the LAMMPS
# input files. Finally, run "run.sh" in order to queue all LAMMPS simulations.


# If flag is set, the program will generate bash scripts in "mdoutput" folder. The scripts can be
# used to populate the folder with many LAMMPS input files that all use the same topology file
# created by "-md_t" (see below). The scripts can be manipulated manually to control the LAMMPS
# variables. Command line option: "-md_s".

# MD_script


# If flag is set, the program will generate a topology file that can be used by the files created
# by the scripts above and the input files below. Command line option: "-md_t".

# MD_topology


# If flag is set, the programm will generate LAMMPS input files and submit-bash files in "mdoutput"
# folder. This is generally not needed when following above steps for many MD simulations.
# Command line option: "-md_li".

# MD_LAMMPS_input


# Controls the walltime in hours for the LAMMPS simulation. Command line option: "-md_wt number".
# default: 24

MD_walltime = 24


# Controls the cores for the LAMMPS simulation. Command line option: "-md_c number".
# default: 1

MD_cores = 8


# Controls whether the molecules for the MD simulation are rigid or not.
# Command line option: "-md_rigid".

# MD_rigid


# Controls number of molecules per dimension for the MD simulation. Total N is then md_N^3.
# Command line option: "-md_N number".
# default: 5

MD_N = 6


# Controls the dielectric constant in the LAMMPS CD-potential. Command line option: "-md_die value".
# default: 10.0

 MD_dielectric = 25.0


# Controls the cutoff of the LAMMPS CD-potential. Command line option: "-md_cdc value".
# default: 5.0

# MD_CDcutoff = 4.0


# Controls the epsilon constant in the LAMMPS LJ-potential. Command line option: "-md_lje value".
# default: 0.01

 MD_LJepsilon = 0.10


# Controls the cutoff of the LAMMPS LJ-potential. Command line option: "-md_ljc value".
# default: 5.0

# MD_LJcutoff = 3.0


# Controls the timestep of the LAMMPS simulation. Command line option: "-md_ts value".
# default: 0.02

MD_timestep = 0.02


# Controls the runtime of the LAMMPS simulation. Command line option: "-md_rt number".
# default: 6000001

MD_runtime = 6000001
