collagen {
	flags {
		consoleOutput ?= "false";
		debugInfo ?= "false";
		help ?= "false";
		measureTime ?= "false";
	}
	
	io {
		#input ?= "./molecule/charges_distribution_36";
		#input ?= "./molecule/charges_distribution_1054";
		input ?= "./molecule/atom_types_1054";
		output ?= "./data/min";
		lammps-output ?= "./md/";
	}
	
	molecule {
		printAtomInfo ?= "false";
		printMoleculeInfo ?= "false";
		diameterAtom ?= "1.12";
		distanceAtoms ?= "0.285";
	}
	
	main {
		### Layer-Model ###
		minimizeEnergy ?= "false";
		layers ?= "2";
		xyz_output ?= "false";
		cd ?= "10";
		cdcutoff ?= "2.0";
		lj ?= "0.0";		# set to 0 to deactivate hydrophobic interactions
		ljcutoff ?= "2.0";
		radGapStepsize ?= "0.285";
		offsetStepsize ?= "0.285";
		
		### LAMMPS ###
		lammps-topology ?= "false";
		topologyFile ?= "topTest.0time";
		
		lammps-input ?= "false";
		inputFile ?= "input.sim";
		logFile ?= "log.sim";
		dumpFile ?= "dump.xyz";
		
		# LAMMPS OPTIONS
		rigidMolecules ?= "false";
		randomOrientations ?= "false";
		phi ?= "0.0";
		theta ?= "0.94247779607";
		numMolperDim ?= "5";
		lammps-timestep ?= "0.002";
		lammps-runtime ?= "6000001";
		lammps-kAngle {
			start ?= "50";
			increment ?= "50";
			end ?= "50";
		}
		lammps-dielectric {
			start ?= "10";
			increment ?= "10";
			end ?= "10";
			cutoff ?= "5";
		}
		lammps-lj_epsilon {
			start ?= "0.01";
			increment ?= "0.01";
			end ?= "0.01";
			cutoff ?= "5";
		}
	}
}
