collagen {
	general {
		@if (osType() == "windows") {
			mainpath ?= "lol";
		} @elseIf (osType() == "unix") {
			mainpath ?= getenv("PWD");
		}
	}

	flags {
		consoleOutput ?= "true";
		help ?= "false";
		measureTime ?= "true";
	}
	
	io {
		#input ?= "./molecule/charges_distribution_36";
		#input ?= "./molecule/charges_distribution_1054";
		input ?= "./molecule/atom_types_1054";
		output ?= "./data/newest";
		mdoutput ?= "./md/";
	}
	
	molecule {
		printAtomInfo ?= "false";
		printMoleculeInfo ?= "false";
		diameterAtom ?= "1.12";
		distanceAtoms ?= "0.285";
	}
	
	main {
		minimizeEnergy ?= "true";
		layers ?= "2";
		cd ?= "10";
		lj ?= "0.0";		# set to 0 to deactivate hydrophobic interactions
		radGapStepsize ?= "0.285";
		offsetStepsize ?= "0.285";
	}
	
	layerModel {
		active ?= "false";
		chargehash ?= "false";
		csv ?= "false";
		xyz ?= "false";
		layers ?= "3";
		radialGapStepsize ?= molecule.distanceAtoms;
		offsetStepsize ?= molecule.distanceAtoms;
		lj_parameters {
			activate ?= "true";
			specific ?= "false";
			stepsize ?= "0.01";
			steps ?= "50";
			min ?= "0.01";
			cutoff ?= "5";
		}
		cdParameters {
			activate ?= "true";
			specific ?= "false";
			stepsize ?= "10";
			steps ?= "20";
			min ?= "10";
			cutoff ?= "5";
		}
	}
	
	md {
		active ?= "false";
		lmp_mpi ?= "~/Scratch/lammps-29Oct20/src/lmp_mpi";
		script ?= "false";
		topology ?= "false";
		rigidMolecules ?= "false";
		randomOrientations ?= "false";
		phi ?= "0.0";
		theta ?= "0.94247779607";
		input ?= "false";
		walltime ?= "24";
		cores ?= "1";
		numMolperDim ?= "5";
		lammps_timestep ?= "0.002";
		lammps_runtime ?= "6000001";
		kAngle {
			start ?= "50";
			increment ?= "50";
			end ?= "50";
		}
		dielectric {
			start ?= "10";
			increment ?= "10";
			end ?= "10";
			cutoff ?= "5";
		}
		lj_epsilon {
			start ?= "0.01";
			increment ?= "0.01";
			end ?= "0.01";
			cutoff ?= "5";
		}
	}

	development {
		active ?= "false";
		factor ?= "1.0";
		samples ?= "25";
	}
}
