collagen {
	general {
		@if (osType() == "windows") {
			mainpath = "lol";
		} @elseIf (osType() == "unix") {
			mainpath = getenv("PWD");
		}
	}

	flags {
		consoleOutput = "false";
		help = "false";
		measureTime = "false";
	}
	
	io {
		input = "./molecule/charges_distribution_36";
		# input = "./molecule/charges_distribution_1054";
		# input = "./molecule/atom_types_1054";
		output = "./energy_min.dat";
		mdoutput = "./md/";
	}
	
	molecule {
		printAtomInfo = "false";
		printMoleculeInfo = "false";
		diameterAtom = "1.12";
		distanceAtoms = "0.255";
	}
	
	layerModel {
		active = "false";
		chargehash = "false";
		csv = "false";
		xyz = "false";
		layers = "2";
		radialGapStepsize = molecule.distanceAtoms;
		offsetStepsize = molecule.distanceAtoms;
		LJparameters {
			ljstepssize = "0.01";
			ljsteps = "50";
			ljmin = "0.01";
			ljcut = "5";
		}
		CDparameters {
			cdstepsize = "10";
			cdsteps = "20";
			cdmin = "10";
			cdcut = "5";
		}
	}
	
	MD {
		active = "false";
		lmp_mpi = "~/Scratch/lammps-29Oct20/src/lmp_mpi";
		script = "false";
		topology = "false";
		rigidMolecules = "false";
		randomOrientations = "false";
		phi = "0.0";
		theta = "0.94247779607";
		input = "false";
		walltime = "24";
		cores = "1";
		moleculesPerDimension = "5";
		LAMMPStimestep = "0.002";
		LAMMPSruntime = "6000001";
		kAngle {
			start = "50";
			increment = "50";
			end = "50";
		}
		dielectric {
			start = "10";
			increment = "10";
			end = "10";
			cutoff = "5";
		}
		LJepsilon {
			start = "0.01";
			increment = "0.01";
			end = "0.5";
			cutoff = "5";
		}
	}
	
	development {
		active = "false";
	}	
}
